.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes FadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes sc1 {
  0% {transform:translate(0) scale(1);transform-origin:top center;opacity: 0%;}
  100% {transform:translate(220px, -130px) scale(0.8);transform-origin:top center;opacity: 80%;}
}

@keyframes sc2 {
  0% {transform:translate(0) scale(1);transform-origin:top center;opacity: 0%;}
  100% {transform:translate(260px, 280px) scale(0.7);transform-origin:top center;opacity: 90%;}
}

@keyframes sc3 {
  0% {transform:translate(0) scale(1);transform-origin:top center;opacity: 0%;}
  100% {transform:translate(-300px, 270px) scale(0.6);transform-origin:top center;opacity: 90%;}
}