<!doctype html>
<html>
  <head>
    <title>Model Prediction</title>
  </head>
  <body>
    <form method="POST">
      <input type="text" name="data1" placeholder="Enter prediction data1" />
      <input type="text" name="data2" placeholder="Enter prediction data1" />
      <input type="text" name="data3" placeholder="Enter prediction data1" />
      <input type="text" name="data4" placeholder="Enter prediction data1" />
      <input type="text" name="data5" placeholder="Enter prediction data1" />
      <button type="submit">Predict</button>
    </form>
  </body>
</html>
